* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    display: -webkit-flex;
    display: flex;
}
header {
    background-color: white;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color: white;
}
.sub-header {
    background-color: cornflowerblue;
    color: white;
    text-align: right;
}
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}
/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    padding: 5px 5px;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 6;
    background-color: #f1f1f1;
    padding: 50px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.overview {
    padding: 20px;
    flex: 2;
}